        /* Index   */

body{
    background-image: url("manga-one-piece-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.SelectChamp{
    text-align: center;
    background-color: beige;
    border: 5px outset darkorange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkred;
}

.flexcounteiner{
    display:flex;
    justify-content: space-around;
    
}

.boxchampions{
    width: 20%;
    cursor: pointer;
    overflow: hidden;

}

.boxchampions > a{
    text-decoration: none;
    color:black;
}

.boxchampions  figcaption{
    text-align: center;
}

.boxchampions  p{
    visibility: hidden;

   
}

.boxchampions:hover p{
    visibility: visible;
    
}

img{
    width: 100%;
    max-height: 300px;
    height: 100%;
    border-radius: 10px;

}

.personaluffy{

    border: 5px outset darkorange;
    border-radius: 10px ;
    background-color: beige ;
    font-family: fantasy;
    color: darkred;
}

.personazoro{

    border: 5px outset darkorange;
    border-radius: 10px ;
    background-color: beige ;
    font-family: fantasy;
    color: green;
}

.personasanji{

    border: 5px outset darkorange;
    border-radius: 10px ;
    background-color: beige ;
    font-family: fantasy;
    color: black;
}

.characterDescrition{
    border: 5px outset darkorange;
    border-radius: 10px;
    background-color: beige;
    padding: 10px;
    font-size: 17px;
    font-family: sans-serif;
    color:darkred;

}

footer{
    text-align: center;
    font-weight: bold;
}

/*  Lobby/sinopse global     */

.SinopseGlobal{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 6% 10%;
    background-color: beige;
    text-align: justify;
    height: 20%;
}

.luffyDestaque{

    font-size: 1.3em;
    font-weight: bold;
    color: darkred;
}

.zoroDestaque{

    font-size: 1.3em;
    font-weight: bold;
    color: green;
}
.sanjiDestaque{

    font-size: 1.3em;
    font-weight: bold;
    color: darkorange
}

.botaosinopse{
    margin: 3% 30%;
    border-radius: 10px;
    padding: 10px;
}
.botaosinopse:hover{
    cursor: pointer;
}


/*  Paginas luffy    */


.escolhaglobal{

    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 6% 10%;
    background-color: beige;
    text-align: justify;
    height: 20%;
}

.Ocorrido{

    font-size: 1.3em;
    font-weight: bold;
    color: black;

}

.responderbotao{

    margin: 3% 30%;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
        
}

.recomeçar{
    display: block;
    text-align: center;
}

#gg{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.gameover{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}