body{
    background-image: url("One-Piece.png");
    background-size: cover;
}

h1{
    text-align: center;
    background-color: lightskyblue;
    border: 5px outset darkorange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkred;
}

.flexcounteiner{
    display:flex;
    justify-content: space-around;
    
}

.boxchampions{
    width: 20%;
    cursor: pointer;
    overflow: hidden;

}

.boxchampions > a{
    text-decoration: none;
    color:black;
}

.boxchampions  figcaption{
    text-align: center;
}

.boxchampions  p{
    visibility: hidden;

   
}

.boxchampions:hover p{
    visibility: visible;
    
}

img{
    width: 100%;
    max-height: 300px;
    height: 100%;
    border-radius: 10px;

}

.personas{
    border: 5px outset darkorange;
    border-radius: 10px ;
    background-color:lightskyblue ;
    font-family: fantasy;
    color: darkred;
}

.characterDescrition{
    border: 5px outset darkorange;
    border-radius: 10px;
    background-color: lightskyblue;
    padding: 10px;
    font-size: 17px;
    font-family: sans-serif;
    color:darkred;

}

footer{
    text-align: center;
    font-weight: bold;
}